Options All -Indexes

<IfModule mod_security.c>
    SecFilterEngine Off
    SecFilterScanPOST Off
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /waskacrm/
    RewriteRule ^/?$ index.php?page=home [L]
    RewriteRule ^([a-z]+)$ index.php?page=$1 [L]
    RewriteRule ^([a-z]+)/([a-z]+)$ index.php?page=$2&sub=$1 [L]
    RewriteRule ^([a-z]+)/([a-z]+)/([a-z0-9]+)$ index.php?page=$2&sub=$1&uid=$3 [L]
</IfModule>

ErrorDocument 403 /error.php
ErrorDocument 404 /error.php
