.btn:focus,
.btn:active,
.form-control:focus,
.form-control:active,
a:focus,
a:active,
button:focus,
button:active {
    outline: none !important;
    box-shadow: none !important;
}

.logo-img-lg {
    max-height: 120px;
}

.alert.alert-fill {
    margin-bottom: 20px;
}

.dataTables_empty {
    padding: 1rem 0.5rem !important;
}

@media (min-width: 992px) {
    .toggle-break-lg {
        min-height: unset;
    }
}

textarea.auto-height {
    resize: none;
    overflow-x: hidden;
    margin: 0;
    height: auto;
    min-height: unset;
    line-height: 1.25rem;
    padding: 0.4375rem 1rem;
    font-size: 0.8125rem;
}

.form-control-wrap + .row,
.row.gap-yey {
    padding: 0 8px;
}

.form-control-wrap + .row > *,
.row.gap-yey > * {
    padding: 6px;
}

.input-group > *:first-child,
.input-group > *:first-child > .form-control {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.input-group > *:last-child,
.input-group > *:last-child > .form-control {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    padding: 0.4375rem 0.7rem;
}
